@import '../../styles/Colors.css';

.wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black) !important;
  text-align: center;
}

.buttonWrapper {
  margin-top: 20px;
}

.oops {
  font-size: 100px;
}

.progressLoader {
  margin-top: 30px;
}
