@import '../../styles/Colors.module.scss';

.paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  .avatar {
    margin: 20px;
    background-color: var(--orange) !important;
  }

  .form {
    margin-top: 30px;

    .submit {
      margin-top: 20px !important;
    }

    .buttonWrapper {
      position: relative;

      .buttonProgress {
        color: var(--green) !important;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
      }
    }
  }

  .link {
    margin-top: 20px;
  }
}
