@import '../../styles/Colors.css';

.root {
  height: 100vh;

  .image {
    background-image: url('../../assets/hearthstoneRegisterBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .paper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding: 0 10%;

    .avatar {
      margin: 20px;
      background-color: var(--orange) !important;
    }

    .form {
      margin-top: 30px;

      .submit {
        margin-top: 20px !important;
      }

      .buttonWrapper {
        position: relative;

        .buttonProgress {
          color: var(--green) !important;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -12px;
        }
      }
    }

    .link {
      margin-top: 20px;
    }
  }
}
