.searcherWrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;

  .selectInput {
    min-width: 120px;
  }
}

.cardsGrid {
  position: relative;
  margin-top: 5px !important;
  margin-left: auto !important;
}

@mixin wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loadingWrapper {
  @include wrapper();
}

.errorWrapper {
  @include wrapper();
}
