:root {
  --orange: #f44336;
  --orange-light: #ff7961;
  --orange-dark: #ba000d;
  --green: #4caf50;
  --blue: #3f51b5;
  --blue-light: #757de8;
  --blue-dark: #002984;
  --white: #ffffff;
  --black: #000000;
}
